<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leng.project.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.leng.lengapicommon.model.entity.InterfaceInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="requestParams" column="requestParams" jdbcType="VARCHAR"/>
        <result property="requestHeader" column="requestHeader" jdbcType="VARCHAR"/>
        <result property="responseHeader" column="responseHeader" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="interfaceTotal" column="interfaceTotal" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        url,requestParams,requestHeader,responseHeader,
        status,method,interfaceTotal,userId,
        createTime,updateTime,isDelete
    </sql>

    <!-- 更新接口总调用次数 -->
    <update id="addInterfaceTotal">
        update interface_info
        set interfaceTotal = interfaceTotal + 1
        where id = #{id}
    </update>

    <!-- 查询调用次数最多的三个接口（用于TOP3饼图） -->
    <select id="listTop3InvokeInterfaceInfo" resultType="com.leng.lengapicommon.model.vo.InterfaceInfoVO">
        select id,name,interfaceTotal
        from interface_info
        where isDelete = 0
        and status = 1  <!-- 只查询开启状态的接口 -->
        order by interfaceTotal desc limit 3;
    </select>

    <!-- 查询所有接口的总调用次数（用于全量饼图） -->
    <select id="listAllInterfaceTotal" resultType="com.leng.lengapicommon.model.vo.InterfaceInfoVO">
        select id,name,interfaceTotal
        from interface_info
        where isDelete = 0
        and status = 1  <!-- 只查询开启状态的接口 -->
        order by interfaceTotal desc;
    </select>

</mapper>